@vas-spa1:registry=https://villain.jfrog.io/artifactory/api/npm/jfrog-test1/
_auth = bWUwOUBlbWFpbC5jb206Y21WbWRHdHVPakF4T2pFM01EY3dOalEzTkRrNlRVSkRWVk01WmxaRmJHbENPRTlaUzJSaFZsWkVSVVF6U25sMg==
always-auth = true
