@vas-spa1:registry=https://villain.jfrog.io/artifactory/api/npm/jfrog-test1/
_auth = bWUwOUBlbWFpbC5jb206Y21WbWRHdHVPakF4T2pFM01EY3hOalV6TnpFNmFVMTVZbnB0V0dOR05WQTFSblJIYjJRNVZGRXhkVUo1U2xvMA==
always-auth = true
