<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>
  <script type="module" src="/conf/import-map.json"></script>

  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "/extras/single-spa.min.js",
        "react": "/extras/react.production.min.js",
        "react-dom": "/extras/react-dom.production.min.js",
        "@vas-spa1/spa-learning": "/spa-learning.js",
        "@vas-spa1/spa-application2": "/spa-application2.js",
        "@vas-frontend/root-config": "/vas-frontend-root-config.js",
        "@vas-spa1/spa-navbar":"/spa-navbar.js"
      }
    }
  </script>
  <script src="/extras/system.min.js"></script>
  <script src="/extras/amd.min.js"></script>
  <script src="/extras/named-exports.min.js"></script>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <main>
    Hello main page
    <div id="spa-navbar"></div>
    <div id="spa-learning1"></div>
    <div id="spa-application2"></div>
  </main>
  <script>
    System.import('@vas-frontend/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>